<!DOCTYPE html>
<html>

<head>
    <title>contport</title>
    <script>
        window.onload = function () {

            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                title: {
                    text: "build trend",
                    fontFamily: "Times New Roman",
                },
                axisX: {
                    interval: 1,
                    valueFormatString: "'#'#0"
                },
                axisY: {
                    valueFormatString: "#0"
                },
                data: [
                    {
                        type: "stackedColumn",
                        color: "GREEN",
                        name: "PASS",
                        showInLegend: true,
                        dataPoints: [
                            {% for build in build_summary %}
                        { y: {{ build["pass"]}}, x: {{ build["number"]}} },
        {% endfor %}
                    ]
                    }, {
            type: "stackedColumn",
                name: "FAIL",
                    color: "red",
                        showInLegend: true,
                            dataPoints: [
                                {% for build in build_summary %}
        { y: {{ build["fail"] }}, x: {{ build["number"] }} },
        {% endfor %}
                    ]
            }
            ]});
        chart.render();
            
            }
    </script>
</head>

<body>
    <div class="container">
        <p>你好,</p>
        <p><b>{{report_title}}</b></p>
        <p>测试任务: <a href={{job_url}} target="_blank">{{job_url}}</a></p>
        <p>报告时间(UTC): {{now}}</p>
        <h3>Jenkins构建总结</h3>
        {% if pure_html == true %}
        <div id="chartContainer" style="height: 400px; width: 40%;"></div>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        {% else %}
        <img src="cid:build_summary_image" alt="build_summary" style="height: 200px; width: 25%;"><br>
        {% endif %}
        <ul style="list-style-type:circle;">
            <li>测试周期: 过去 <b>{{past_hours}}</b> 小时</li>
            <li>构建总量: {{build_summary|length}}, 构建范围:
                #{{build_summary[0]["number"]}}--#{{build_summary[-1]["number"]}}</li>
            <li>测试结果缺失构建:
                {{build_summary | selectattr("fail", "equalto", 0) | list | selectattr("pass", "equalto", 0) | list|length}}
            </li>
            {% set pass_num = build_summary | selectattr("fail", "equalto", 0) | list | length %}
            <li>成功构建: {{pass_num}}, 构建成功率: {{((pass_num/(build_summary|length))*100)|round}}%</li>
            <li>平均构建时间: {{build_metrics["avg_duration"]}} 秒, 最大构建时间:
                {{build_metrics["max_duration"]}} 秒</li>
            <li>平均成功构建时间: {{build_metrics["avg_duration_pass"]}} 秒, 最大成功构建时间:
                {{build_metrics["max_pass_duration"]}} 秒</li>
        </ul>
        <h3>测试用例总结:</h3>
        <p>*按照失败率从高往低排序</p>
        <table border="1">
            <tr>
                <th>名次</th>
                <th>套件名</th>
                <th>用例名</th>
                <th>成功次数/总次数)</th>
                <th>最大周期(秒)</th>
                <th>最大成功周期(秒)</th>
                <th>失败构建</th>
            </tr>
            {% for i in case_summary %}
            {% if i["pass"] == i["total"] %}
            {% set color = "GREEN" %}
            {% else %}
            {% set color = "red" %}
            {% endif %}
            <tr>
                <td>{{i["rank"]}}</td>
                <td bgcolor={{color}}>{{i["suite"]}}</td>
                <td bgcolor={{color}}>{{i["case"]}}</td>
                <td bgcolor={{color}}>{{i["pass"]}}/{{i["total"]}}</td>
                <td>{{i["max_duration"]}}</td>
                <td>{{i["max_pass_duration"]}}</td>
                <td>
                    {% for j in i["npass_numbers"] %}
                    {% set href_link = job_url + "/" + j|string + "/testReport/" %}
                    <a href={{href_link}} target="_blank">{{j}}</a>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>
        <p>谢谢</p>
    </div>
</body>

</html>