<!DOCTYPE html>
<html>

<head>
    <title>contport</title>
</head>

<body>
    <div class="container">
        <p>Hello,</p>
        <p><b>{{config["title"]}}</b></p>
        <p>Tested Jenkins job: <a href={{config["url"]}} target="_blank">{{config["url"]}}</a></p>
        <p>Reported Time in UTC: {{now}}</p>
        <h3>Jenkins Build Summary</h3>
        <ul style="list-style-type:circle;">
            <li>Tested period: last {{config["past_hours"]}} hours</li>
            <li>Total builds: 10</li>
            <li>No-test-results builds: 2</li>
            <li>Pass builds: 4</li>
          </ul>  
        <h3>Test Case Summary:</h3>
        <table border="1">
            <tr>
                <th>Rank</th>
                <th>Suite Name</th>
                <th>Case Name</th>
                <th>Result(pass/total)</th>
                <th>Owner</th>
                <th>Failed Builds</th>
            </tr>
            {% for i in summary %}
            {% if i["pass"] == i["total"] %} 
            {% set color = "LIGHTGREEN" %}
            {% else %}
            {% set color = "LIGHTSALMON" %}
            {% endif %}
            <tr>
                <td>{{i["rank"]}}</td>
                <td bgcolor={{color}}>{{i["suite"]}}</td>
                <td bgcolor={{color}}>{{i["case"]}}</td>
                <td bgcolor={{color}}>{{i["pass"]}}/{{i["total"]}}</td>
                <td>N/A</td>
                <td>
                        {% for j in i["npass_numbers"] %}
                        {% set href_link = config["url"] + "/" + j|string + "/testReport/" %}
                        <a href={{href_link}} target="_blank">{{j}}</a>
                        {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>