<!DOCTYPE html>
<html>

<head>
    <title>contport</title>
    <script>
            window.onload = function () {
            
            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                title:{
                    text: "build trend",
                    fontFamily: "Times New Roman",
                },
                axisX: {
                    interval: 1
                },
                axisY:{
                    valueFormatString:"#0"
                },
                data: [{
                    type: "stackedColumn",
                    color: "LIGHTGREEN",
                    name: "PASS",
                    showInLegend: true,
                    dataPoints: [
                        { y: 1, x: 1 },
                        { y: 1, x: 2 },
                        { y: 1, x: 3 },
                        { y: 1, x: 4 },
                        { y: 0, x: 5 },
                        { y: 0, x: 6 },
                        { y: 0, x: 7 }
                    ]
                    },
                    {        
                        type: "stackedColumn",
                        name: "FAIL",
                        color: "LIGHTSALMON",
                        showInLegend: true,
                        dataPoints: [
                        { y: 3, x: 1 },
                        { y: 3, x: 2 },
                        { y: 3, x: 3 },
                        { y: 3, x: 4 },
                        { y: 4, x: 5 },
                        { y: 4, x: 6 },
                        { y: 4, x: 7 }
                        ]
                    }]
            });
            chart.render();
            
            }
            </script>
</head>

<body>
    <div class="container">
        <p>Hello,</p>
        <p><b>{{config["title"]}}</b></p>
        <p>Tested Jenkins job: <a href={{config["url"]}} target="_blank">{{config["url"]}}</a></p>
        <p>Reported Time in UTC: {{now}}</p>
        <h3>Jenkins Build Summary</h3>
        <div id="chartContainer" style="height: 200px; width: 40%;"></div>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        <ul style="list-style-type:circle;">
            <li>Tested period: last {{config["past_hours"]}} hours</li>
            <li>Total builds: 10</li>
            <li>No-test-results builds: 2</li>
            <li>Pass builds: 4</li>
        </ul>
        <h3>Test Case Summary:</h3>
        <table border="1">
            <tr>
                <th>Rank</th>
                <th>Suite Name</th>
                <th>Case Name</th>
                <th>Result(pass/total)</th>
                <th>Owner</th>
                <th>Failed Builds</th>
            </tr>
            {% for i in summary %}
            {% if i["pass"] == i["total"] %} 
            {% set color = "LIGHTGREEN" %}
            {% else %}
            {% set color = "LIGHTSALMON" %}
            {% endif %}
            <tr>
                <td>{{i["rank"]}}</td>
                <td bgcolor={{color}}>{{i["suite"]}}</td>
                <td bgcolor={{color}}>{{i["case"]}}</td>
                <td bgcolor={{color}}>{{i["pass"]}}/{{i["total"]}}</td>
                <td>N/A</td>
                <td>
                        {% for j in i["npass_numbers"] %}
                        {% set href_link = config["url"] + "/" + j|string + "/testReport/" %}
                        <a href={{href_link}} target="_blank">{{j}}</a>
                        {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>
        <p>BR</p>
    </div>
</body>

</html>